.auth-wrapper {
    display: flex;

    .submit-button {
        padding: 20px;
        background-color: grey;
        text-align: center;
    }

    .submit-button:active {
        background-color: rgb(70, 70, 70);
    }
}