body {
  background-color: rgb(44, 44, 44);
  color: rgb(225, 225, 225);
}

.header {
    display: flex;
    justify-content: right;

    .signup-signin {
        padding: 10px;
    }

    .auth {
        background-color: gray;
    }

    .auth:hover {
        cursor: pointer;
    }
    .auth:active {
        background-color: orange;
        color: black;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2, h3, h5 {
        text-align: center;
    }
    
    .button-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .faq-question {
        font-weight: bold;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }
    
    section {
        border: 1px solid white;
        width: 80%;
        max-width: 900px;
    }

    .problem-section {
        // background-color: rgb(131, 138, 140);
    }

    .info-section {
        padding: 70px 0;

        h3 {
            font-size: 30px;
            font-weight: 700;
        }

        ul {
            font-size: 20px;
        }

        .subheading-wrapper {
            border: 1px solid white;
            border-radius: 5px;
            width: 100%;
            padding: 20px;

            .subheading {
                font-size: 20px;
            }
        }

        .pricing-options {
            display: flex;
            justify-content: space-around;
        }
    }
}